/* Лого колір тексту #000000 */
/* головний колір тексту #757575 */
/* другорядний коліт тексту #212121 */
/* колір тексту #FFFFFF */
/* колір акценту #2196F3 */
/* головний колір тексту #F5F5F5 */
/* другорядний колір фону #F5F4FA */
/* колір фону футеда */


:root {
    --priamary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --hero-footer-text-color: #FFFFFF;
    --bacground-priamary: #FFFFFF;
    --bacground-color-team-button-list: #F5F4FA;
    --bacground-footer-color: #2F303A;
    --border-color: #2196F3;

}

body {
    background-color: var(--bacground-priamary);
    color: var(--priamary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

textarea {
    resize: none;
}

/* Header pages*/

.header {
    display: block;
    border-bottom: 1px solid #ECECEC;
}

.header-pages {
    display: flex;
    align-items: center;
}

/* Logo */

.logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    color: #000000;
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-span {
    color: var(--accent-color);
}

/* Site nav */

.site-nav {
    display: flex;
}

.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0px;
}


.site-nav__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
    color: var(--accent-color);
}

.site-nav__link.current {
    position: relative;
    color: var(--accent-color)
}

.current::after {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
}

/* Address link */

.header-address {
    display: flex;
    margin-left: auto;
}

.header-address__item {
    margin-right: 50px;
}

.header-address__item:last-child {
    margin-right: 0px;
}

.header-address__link {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: var(--priamary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address__icon {
    fill: currentColor;
}

.header-address__link:hover,
.header-address__link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    text-align: center;
}

.overlay {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/overlay.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    margin-bottom: 40px;
    /* max-width: 700px; */
    margin-left: 237px;
    margin-right: 237px;

    color: var(--hero-footer-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

/* Backdrop */

.backdrop {
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 12;
}

.backdrop.is-hidden {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    width: 528px;
    height: 581px;
    background-color: var(--bacground-priamary);
    text-align: start;
}

.button-modal-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 0;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: var(--bacground-priamary);
    color: var(--title-text-color);
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: currentColor
}

.button-modal-close:focus,
.button-modal-close:hover {
    color: var(--accent-color);
}

/* Backdrop Form */

.modal-form {
    margin-bottom: 10px;
}

.form-control {
    position: relative;
}

.modal-title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--title-text-color);
}

.form-label {
    display: block;
    padding-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--priamary-text-color);
}

.form-input {
    padding: 11px 12px 11px 42px;
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
    border-color: var(--border-color);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--title-text-color);
    fill: currentColor;
}

.form-input:focus+.form-icon {
    color: var(--border-color);
}

.form-textarea {
    width: 100%;
    height: 120px;
    padding: 11px 12px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    border: 1px solid rgba(33, 33, 33, 0.2);
    color: rgba(117, 117, 117, 0.5);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-textarea:focus {
    border-color: var(--border-color);
}

.checkbox {
    margin-top: 10px;
}

.form-input-checkbox {
    appearance: none;
    padding-left: 12px;
}

.form-lable-checkbox {
    position: relative;
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.71px;
    color: var(--priamary-text-color);
}

.form-lable-checkbox::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    border: 1px solid var(--title-text-color);
    border-radius: 2px;
}

.form-lable-checkbox::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 16px;
    height: 15px;
    background-image: url(../images/icon-check.svg);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-checkbox:checked+.form-lable-checkbox::after {
    opacity: 1;
}

.form-policy {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--priamary-text-color);
}

.form-policy-link {
    font-size: 14px;
    line-height: 1.71;
    color: var(--accent-color);
}

.form-button {
    border-radius: 4px;
    padding: 10px 52px;
    margin: 30px 124px 0 124px;
    min-width: 200px;
    border: 0;
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
}


/* Section */

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-title {
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700px;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Features */

.feature {
    padding-top: 94px;
    padding-bottom: 0px;
}

.feature-list {
    padding-bottom: 0px;
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    color: var(--priamary-text-color);
    font-size: 14px;
    line-height: 1.71;
}

.feature-list .item {
    margin-right: 30px;
    width: 270px;
}

.feature-list .item:last-child {
    margin-right: 0px;
}



.feature-list .title {
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-icon-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.feature-icon-item {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bacground-color-team-button-list);
    border-radius: 4px;
}

/* Works */

.works-list {
    display: flex;
    flex-wrap: wrap;
}

.works .item {
    position: relative;
    margin-right: 30px;
    width: 370px;
    text-align: center;
}

.works .item:last-child {
    margin-right: 0px;
}


.works-list-position {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}

.works-list-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 700;
    font-size: 14px;
    line-height: 0.87;
    text-transform: uppercase;
    color: var(--bacground-priamary);
}

/* Team */

.team-title-text {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team .item {
    margin-right: 30px;
    width: 270px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team .item:last-child {
    margin-right: 0px;
}

.section-team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-item {
    background-color: var(--hero-footer-text-color);
}

.team-text {
    margin-top: 10px;
    color: var(--priamary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-link {
    margin-top: 16px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
    fill: currentColor;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: #FFFFFF;
}

/* Сustomers */

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-item {
    width: calc((100% - 60px) / 3);
}

.clients-link {
    width: 100%;
    height: 92px;
    border: 1px solid #AFB1B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #AFB1B8;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover,
.clients-link:focus {
    border-color: #2196F3;
    color: #2196F3;
}

/* Footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bacground-footer-color);
}

.footer-bloc-address {
    margin-right: 70px;
}

.footer-address {
    width: 231px;
    margin-top: 20px;
    font-style: normal;
    list-style: none;
    padding: 0px;
}

.footer-address .item {
    margin-bottom: 9px;
}

.footer-address .item:nth-last-child(1) {
    margin-bottom: 0px;
}

.footer .link {
    /* padding-top: 9px; */
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer .link:hover,
.footer .link:focus {
    color: var(--accent-color)
}

.footer-logo {
    color: var(--hero-footer-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-link {
    color: var(--hero-footer-text-color);
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer-bloc-social {
    margin-right: 93px;
}

.footer-social-title {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--bacground-priamary);
}

.footer-list-icon {
    display: flex;
    gap: 10px;
}

.footer-social-link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--hero-footer-text-color);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    fill: currentColor;
}

.footer-social-link:hover,
.footer-social-link:focus {
    background-color: #2196F3;
}

/* Footer-subscribe */

.footer-subscribe {
    display: flex;
}

.footer-input {
    margin-right: 12px;
    padding: 15px 16px;
    width: 358px;
    height: 50px;
    color: var(--bacground-priamary);
    background-color: var(--bacground-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-button {
    display: flex;
    gap: 10px;
    border-radius: 4px;
    padding: 10px 28px;
    min-width: 200px;
    border: 0;
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.footer-button-icon {
    fill: currentColor;
}

/* Button */

.button {
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--hero-footer-text-color);
}

.button.primary {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: 0;
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.button-list {
    padding: 6px 22px;
    font-weight: 500;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.63;
    border: 0;
    text-align: center;
    background-color: var(--bacground-color-team-button-list);
    border-radius: 4px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:hover,
.button-list:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--hero-footer-text-color);
    background-color: var(--accent-color)
}

/* Portfolio page styles */

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list .item {
    margin-right: 8px;
}

.filter-list .item:last-child {
    margin-right: 0px;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
}

.project-list .item:nth-child(3n) {
    margin-right: 0px;
}

.project-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.project-list .item {
    width: 370px;
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--bacground-priamary);
}

.project-link:hover,
.project-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link {
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-thumb {
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 294px;
}

.project-thumb::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-thumb::before,
.project-link:focus .project-thumb::before {
    transform: translateY(0);
}

.project-thumb-text {
    position: absolute;
    padding: 63px 24px;
    top: 0;
    left: 0;
    font-size: 18px;
    line-height: 1.55;
    color: var(--bacground-priamary);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-thumb-text {
    transform: translateY(0);
}


.project-title-text {
    padding: 20px 24px;
    border-left: 1px solid #ECECEC;
    border-right: 1px solid #ECECEC;
    border-bottom: 1px solid #ECECEC;
}

.portfolio-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.portfolio-text {
    margin-top: 4px;
    color: var(--priamary-text-color);
    font-size: 16px;
    line-height: 1.88;
}